/*******
svg2.css

Misha Paauw
10054154

Data Processing 
Minor Programmeren
Universiteit van Amsterdam
16 - 11 - 2016

css styling svg map of the world

********/

/***
* body
****/

body {
   font-family: sans-serif;
   background-color: #E5E5FF;
}

/***
* SVG holder
****/

.SVGbox {
   width: 80%;
   margin: auto;
   border: 1px solid black;
}

/*
 * Circles around small countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.circlexx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * Smaller circles around French DOMs and Chinese SARs
 *
 * Change opacity to 1 to display all subnational circles.
 *
 */
.subxx
{
   opacity:0;
   stroke-width:0.3;
}

/*
 * Circles around small, unrecognized countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.unxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.3;
}

/*
 * Circles around small countries, but with no permanent residents 
 *
 * Change opacity to 1 to display all circles.
 *
 */
.noxx
{
   opacity:0;
   stroke:#000000;
   stroke-width:0.5;
}

/*
 * land
 */

.landxx
{
   stroke:#0000ff;
   stroke-width:0.5;
   fill-rule:evenodd;
}


/*
 * Styles for coastlines of islands with no borders
 */

.coastxx
{
   stroke:#ffffff;
   stroke-width:0.3;
   fill-rule:evenodd;
}



/*
 * Styles for nations with limited recognition
 */

.limitxx
{
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}


/*
 * Styles for nations with no permanent population.
 */
.antxx
{
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}


/*
 * Ocean
 */
.oceanxx
{
   opacity: 1;
   color: #b2b2ff;
   fill:#b2b2ff;
   stroke:#000;
   stroke-width:0.5;
   stroke-miterlimit:1;
}

/***

Legend

*/

.legend {
   height: 15px;
   width: 15px;
   border: 1px solid black;
   margin-right: 3px;
   float: left;

}

.OuterWrapper {
   width: 100%;
}

.InnerWrapper {
   width: 50%;
   margin: auto;
   text-align: center;
   background-color: rgba(255,255,255,0.8);
}

ul {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-top: 2%;
}

li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


#item1 {
   background-color: #000000;
}

#item2 {
   background-color: #fef0d9;
}

#item3 {
   background-color: #fdcc8a;
}

#item4 {
   background-color: #fc8d59;
}

#item5 {
   background-color: #e34a33;
}

#item6 {
   background-color: #b30000;
}

/***
* text
****/
.textWrapper {
   width: 80%;
   margin: auto;
   background-color: rgba(255,255,255,0.8);
}

p {
   line-height: 1.5;
   font-size: 20px;
}